@import "tailwindcss";

/* ซ่อน scrollbar สำหรับแถบหมวดหมู่แต่ยังเลื่อนได้ */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
